<a href="https://colab.research.google.com/github/Bekmachev/test/blob/main/Homework_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ввиду того, что в рассмотренном ранее датасете отсутсвуют пропуски, загрузим новый датасет с сайта** https://www.kaggle.com/datasets/alitaqi000/world-university-rankings-2023

In [1]:
import pandas as pd
data_reyt_univ = pd.read_csv('World University Rankings 2023.csv')
data_reyt_univ.head()

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,United Kingdom,"20,965",10.6,42%,48 : 52,96.4,92.3,99.7,99.0,74.9,96.2
1,2,Harvard University,United States,"21,887",9.6,25%,50 : 50,95.2,94.8,99.0,99.3,49.5,80.5
2,3,University of Cambridge,United Kingdom,"20,185",11.3,39%,47 : 53,94.8,90.9,99.5,97.0,54.2,95.8
3,3,Stanford University,United States,"16,164",7.1,24%,46 : 54,94.8,94.2,96.7,99.8,65.0,79.8
4,5,Massachusetts Institute of Technology,United States,"11,415",8.2,33%,40 : 60,94.2,90.7,93.6,99.8,90.9,89.3

**Вначале проверим, есть ли в изучаемом датасете данные с пропусками**

In [2]:
data_reyt_univ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341 entries, 0 to 2340
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   University Rank              2341 non-null   object
 1   Name of University           2233 non-null   object
 2   Location                     2047 non-null   object
 3   No of student                2209 non-null   object
 4   No of student per staff      2208 non-null   float64
 5   International Student        2209 non-null   object
 6   Female:Male Ratio            2128 non-null   object
 7   OverAll Score                1799 non-null   object
 8   Teaching Score               1799 non-null   float64
 9   Research Score               1799 non-null   float64
 10  Citations Score              1799 non-null   float64
 11  Industry Income Score        1799 non-null   float64
 12  International Outlook Score  1799 non-null   float64
dtypes: float64(6), object(7)
memory usage: 237.9+ KB

**И выведем количество пропусков по столбцам**

In [3]:
data_reyt_univ.isnull().sum()

University Rank                  0
Name of University             108
Location                       294
No of student                  132
No of student per staff        133
International Student          132
Female:Male Ratio              213
OverAll Score                  542
Teaching Score                 542
Research Score                 542
Citations Score                542
Industry Income Score          542
International Outlook Score    542
dtype: int64

Стоит отметить, что большая часть строк с пропусками находится внизу таблицы, ниже строки 1697, и данные по этим университетеам еще не заполнены. Если выводить только данные выше этой строки, то количество пропусков получется следующее:

In [ ]:
data_reyt_univ.isnull().loc[:1697].sum()

University Rank                  0
Name of University               0
Location                       151
No of student                    0
No of student per staff          0
International Student            0
Female:Male Ratio               76
OverAll Score                    1
Teaching Score                   1
Research Score                   1
Citations Score                  1
Industry Income Score            1
International Outlook Score      1
dtype: int64

**Выведем строки с отсутствующими данными**

In [9]:
is_null=data_reyt_univ.isnull()

In [10]:
row_with_null = is_null.any(axis=1)
rows_with_null = data_reyt_univ[row_with_null]
data_reyt_univ[row_with_null]

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
10,11,Columbia University,United States,"21,781",4.5,38%,NaN,89.4,89.4,87.7,97.1,44.8,79.9
15,16,Tsinghua University,NaN,"38,324",11.6,10%,NaN,88.2,90.1,97.4,88.0,100.0,40.3
16,17,Peking University,NaN,"31,994",10.3,19%,NaN,88.1,92.5,96.7,80.4,91.8,65.0
18,19,National University of Singapore,NaN,"32,337",19.8,25%,51 : 49,87.1,76.4,93.0,90.2,87.0,94.0
29,30,Technical University of Munich,NaN,"33,960",40.6,36%,37 : 63,79.3,69.8,82.2,84.5,100.0,77.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2336,-,University of the West of Scotland,NaN,NaN,NaN,NaN,NaN,34.0–39.2,24.1,15.5,61.5,37.9,76.8
2337,-,University of Windsor,NaN,NaN,NaN,NaN,NaN,34.0–39.2,35.1,29.4,34.5,44.2,88.7
2338,-,University of Wolverhampton,NaN,NaN,NaN,NaN,NaN,34.0–39.2,18.2,14.3,68.8,37.3,72.0
2339,-,University of Wuppertal,NaN,NaN,NaN,NaN,NaN,34.0–39.2,26.4,26.7,52.8,52.1,47.6
2340,-,Xi’an Jiaotong-Liverpool University,NaN,NaN,NaN,NaN,NaN,34.0–39.2,17.8,14.8,68.2,38.2,72.4

**Проверим наличие корреляции между численными параметрами**

In [11]:
data_reyt_univ.corr()

<ipython-input-11-26afa3c93632>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data_reyt_univ.corr()

,No of student per staff,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
No of student per staff,1.000000,-0.130569,0.006686,-0.005684,-0.002588,0.029470
Teaching Score,-0.130569,1.000000,0.882181,0.451169,0.492579,0.385006
Research Score,0.006686,0.882181,1.000000,0.514013,0.583051,0.537993
Citations Score,-0.005684,0.451169,0.514013,1.000000,0.182949,0.536379
Industry Income Score,-0.002588,0.492579,0.583051,0.182949,1.000000,0.218060
International Outlook Score,0.029470,0.385006,0.537993,0.536379,0.218060,1.000000

Как видно, хорошая корреляция (0,88) наблюдается только между двумя параметрами: Teaching Score	и Research Score (Оценка преподавания и Оценка исследований), что весьма логично!

**Применим фунции нахождения среднего, медианы, минимума, максимума**

In [15]:
data_reyt_univ['No of student per staff'].min(), data_reyt_univ['No of student per staff'].max()

(0.4, 232.2)

In [23]:
data_reyt_univ['International Outlook Score'].loc[:100].mean()

76.55445544554456

In [35]:
data_reyt_univ['Research Score'].loc[data_reyt_univ['Location'] == 'United States'].median(), data_reyt_univ['Research Score'].loc[data_reyt_univ['Location'] == 'United Kingdom'].median()

(27.3, 23.4)

**Применим операции сравнения**

In [29]:
data_reyt_univ['Teaching Score'] > data_reyt_univ['Research Score']

0       False
1       False
2       False
3       False
4       False
        ...
2336     True
2337     True
2338     True
2339    False
2340     True
Length: 2341, dtype: bool

In [44]:
data_reyt_univ[(data_reyt_univ["Research Score"]>90) & (data_reyt_univ["Teaching Score"]>90)]

,University Rank,Name of University,Location,No of student,No of student per staff,International Student,Female:Male Ratio,OverAll Score,Teaching Score,Research Score,Citations Score,Industry Income Score,International Outlook Score
0,1,University of Oxford,United Kingdom,"20,965",10.6,42%,48 : 52,96.4,92.3,99.7,99.0,74.9,96.2
1,2,Harvard University,United States,"21,887",9.6,25%,50 : 50,95.2,94.8,99.0,99.3,49.5,80.5
2,3,University of Cambridge,United Kingdom,"20,185",11.3,39%,47 : 53,94.8,90.9,99.5,97.0,54.2,95.8
3,3,Stanford University,United States,"16,164",7.1,24%,46 : 54,94.8,94.2,96.7,99.8,65.0,79.8
4,5,Massachusetts Institute of Technology,United States,"11,415",8.2,33%,40 : 60,94.2,90.7,93.6,99.8,90.9,89.3
5,6,California Institute of Technology,United States,"2,237",6.2,34%,37 : 63,94.1,90.9,97.0,97.3,89.8,83.6
8,9,Yale University,United States,"13,482",5.9,21%,52 : 48,91.4,92.6,92.7,97.0,55.0,70.9
15,16,Tsinghua University,NaN,"38,324",11.6,10%,NaN,88.2,90.1,97.4,88.0,100.0,40.3
16,17,Peking University,NaN,"31,994",10.3,19%,NaN,88.1,92.5,96.7,80.4,91.8,65.0